{__NOLAYOUT__}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>后台登陆系统</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
    <!--Basic Styles-->
    <link href="__PUBLIC__assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/font-awesome.min.css" rel="stylesheet" />
	
    <!--Beyond styles-->
    <link href="__PUBLIC__assets/css/beyond.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/demo.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/animate.min.css" rel="stylesheet" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="__PUBLIC__assets/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white" style="height:300px;">
            <div class="loginbox-title">SIGN IN</div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">X.JIE</div>
            </div>
			<form action="" method="post">
				<div class="loginbox-textbox">
					<input type="text" class="form-control" placeholder="UserName" name="user_name" />
				</div>
				<div class="loginbox-textbox">
					<input type="Password" class="form-control" placeholder="Password" name="password"/>
				</div>
				<div class="loginbox-submit">
					<input type="submit" class="btn btn-primary btn-block" value="Login">
				</div>
			</form>
        </div>
        <div class="logobox">
        </div>
    </div>

    <!--Basic Scripts-->
    <script src="__PUBLIC__assets/js/jquery-2.0.3.min.js"></script>
    <script src="__PUBLIC__assets/js/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="__PUBLIC__assets/js/beyond.min.js"></script>

    <!--Google Analytics::Demo Only-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52103994-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
<!--Body Ends-->
</html>
