<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>{$page_title|default=''} - 后台管理系统</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="__PUBLIC__assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Beyond styles-->
    <link href="__PUBLIC__assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__assets/css/demo.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/typicons.min.css" rel="stylesheet" />
    <link href="__PUBLIC__assets/css/animate.min.css" rel="stylesheet" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="__PUBLIC__assets/js/skins.min.js"></script>
</head>
<!-- /Head -->
<!-- Body -->
<body>